# Introduction

The first step in most data analytics projects is reading the data file. 
Create Series and DataFrame objects, both by hand and by reading data files.

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 5)
from learntools.core import binder; binder.bind(globals())
from learntools.pandas.creating_reading_and_writing import *
print("Setup complete.")

Setup complete.

# Task

## 1. Create a DataFrame `fruits`.

In [ ]:
# reate a dataframe and assign it to the variable fruits.
fruits = pd.DataFrame({'Apples':[30], 'Bananas':[21]})

fruits

   Apples  Bananas
0      30       21

## 2. Create a dataframe `fruit_sales`.

In [ ]:
# Create a dataframe and assign it to the variable fruit_sales.
fruit_sales = pd.DataFrame([[35, 21], [41, 34]], columns=['Apples', 'Bananas'], index=['2017 Sales', '2018 Sales'])

fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

## 3. Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [ ]:
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index=['Flour', 'Milk', 'Eggs', 'Spam'], name='Dinner')

ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

## 4. Read sqlite source or csv dataset into a DataFrame called `reviews`.

In [13]:
import sqlite3
conn = sqlite3.connect('/kaggle/input/pitchfork-data/database.sqlite')
print("Initialized sqlite source")

Initialized sqlite source

In [15]:
# # Check tables
# query = "SELECT name FROM sqlite_master WHERE type='table';"
# tables = pd.read_sql_query(query, conn)
# print(tables)
reviews = pd.read_sql_query("SELECT * FROM reviews", conn)
reviews

,reviewid,title,artist,url,score,best_new_music,author,author_type,pub_date,pub_weekday,pub_day,pub_month,pub_year
0,22703,mezzanine,massive attack,http://pitchfork.com/reviews/albums/22703-mezz...,9.3,0,nate patrin,contributor,2017-01-08,6,8,1,2017
1,22721,prelapsarian,krallice,http://pitchfork.com/reviews/albums/22721-prel...,7.9,0,zoe camp,contributor,2017-01-07,5,7,1,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,2413,"singles breaking up, vol. 1",don caballero,http://pitchfork.com/reviews/albums/2413-singl...,7.2,0,james p. wisdom,None,1999-01-12,1,12,1,1999
18392,3723,left for dead in malaysia,neil hamburger,http://pitchfork.com/reviews/albums/3723-left-...,6.5,0,jason josephes,contributor,1999-01-05,1,5,1,1999

## 5. Create and display a DataFrame called `animals`.

In [6]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

Code to save this DataFrame to disk as a csv file with the name `cows_and_goats.csv`.

In [ ]:
# Save to file
pd.DataFrame.to_csv(animals, 'cows_and_goats.csv')

In [ ]:
# verify saved file
!ls

cows_and_goats.csv